<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/cadastro.css">
    <title>Cadastro do Usuário</title>
</head>
<body>
    <h1>Cadastro do Usuário</h1>
    <form>
        Nome:<input type ="text" name="txtnome"><br><br>
        Sobrenome:<input type ="text" name="txtsobrenome"><br><br>
        Data: <input type ="date" name=" txtdate"><br><br>
        Email:<input type ="text" name="txtemail"><br><br>
        Senha:<input type="text" name="txtsenha"><br><br>
        Telefone:<input type="text" name="txttelefone"><br><br>
        <input type="submit" values="Cadastro do Usário"><br><br>
    </form>    
</body>
</html>